body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}

.floor{
  height: 100%;
  background-image:url(http://www.corporateeventsuk.co.uk/images/illuminateddanceflooring.jpg);
  background-repeat:no-repeat;
  background-size: 100%;
}

.title{
  background-color: #777;
}
.dancer{
  background-repeat:no-repeat;
  background-size: 100%;
  border:none;
  padding: 5em;
  position:absolute;
}
.lisa{
  background-image:url(http://31.media.tumblr.com/6245d24e67694efad3d6226fd05a7ecf/tumblr_mkyb94qEFr1s5jjtzo1_400.gif);
}

.fastDancer{
   background-image:url(http://media.giphy.com/media/gAmfboEX3LPZm/giphy.gif);
}

.blinkyDancer{
   background-image:url(http://media.giphy.com/media/ujyu46Z7WOW6Q/giphy.gif);
}

.coolDancer{
   background-image:url(http://media.giphy.com/media/G5f2piT0yvNyo/giphy.gif);
}

